<!DOCTYPE html>
<html>
    <head>
        
        <!-- document meta -->
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- favicon -->
        <link rel="icoin" href="./favicon.ico">
        
        <!-- document title -->
        <title></title>
        
        <!-- styles -->
        <link rel="stylesheet" href="./public/css/style.css">
        
    </head>
    <body>
        
        <!-- wrapper -->
        <div class="wrapper">
            <h1>Welcome</h1>
            <p>A Development Boilerplate</p>
        </div><!-- /wrapper -->
        
        <!-- scripts -->
        <script src="./public/js/script.js"></script>
        
    </body>
</html>